// header style
header{
  position: relative;
  clear: both;
  margin-bottom: 40px;
}

.hero{
  width: 100%;
  height: auto;
  img{
    width: 100%;
    height: 100%;
  }

}

.name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
  
  h1{
    margin-bottom: 40px;
    font-size: 4rem;
  } 
}
.name h2{
  margin-bottom: 40px;
}
.name a{
  display: inline-block;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: $yellow;
  &:hover,&:focus{
    background-color:$bar;
  }

}
.typewritter{
  span{
    color: $yellow;
    font-weight: 800;
  }
}

.about{
  width: 100%;
  img{
    width: 100%;
  }
}


// self-intro style

.text {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.rachel{
  width: 35%;
  img{
    width: 100%;
  }
 
 
}
.intro{
  width: 65%;
  padding-right: 30px;
}




// contact 
.email{
  display: flex;
  justify-content: flex-start;
}
.social {
  align-self: flex-end;
  margin: 0 auto 20px 30px;
  display: flex;
  
  li {
    padding: 0 10px;
    i:hover {
      color: $yellow;
      transform: scale(1.2);
    }
  }
}



// skills section
#skills {
  margin: 100px auto;
}

.icons{
  display: grid;
  grid-template-rows: repeat(2,200px);
  grid-template-columns: repeat(4,220px);
  justify-content: space-between;
}
.icon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  i{
    font-size: 70px;
    color: $base;
  }
}
.icon:hover{
  cursor: pointer;
  transform: scale(1.2);
}

// projects style

#work{
  padding: 50px 0;
  margin:50px;
  h1{
    margin-bottom: 80px;
  }
}

.project{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.poster img{
  width: 550px;
}

.description{
  padding-right: 50px;
  
}

.view {
  display: flex;
  justify-content: flex-start;
  margin-top: 18px;
  li {
    border: 2px solid $base;
    margin-right: 20px;
    border-radius: 10px;
    padding: 5px 30px;
    cursor: pointer;
    &:hover {
      background-color: $yellow;
    }
    a {
      color: $base;     
    }
  }
}



// contact info style

#contact {
  h1 {
    margin-bottom: 60px;
  }
}


// footer
footer {
  margin-top: 20px;
  text-align: center;
  background-color: $bar;
  padding: 10px;
}
