html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #F8F4E7;
  overflow-x: hidden;
}

h1,
h2,
ul,
p {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #343a40;
}

h2,
h3,
ul, p, a, footer {
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  font-size: 3rem;
  text-align: center;
  font-family: 'Amatic SC', cursive;
}

p {
  font-size: 1.2rem;
  margin-top: 20px;
}

h2 {
  font-size: 1.5rem;
}

.title {
  background-color: #FABE1A;
  display: inline-block;
  padding: 5px 50px;
  border-radius: 0px 20px 0px 20px;
  margin: 50px;
}

.wrapper {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-size: 1rem;
  color: #343a40;
}

i {
  color: #343a40;
  font-size: 3rem;
}

header {
  position: relative;
  clear: both;
  margin-bottom: 40px;
}

.hero {
  width: 100%;
  height: auto;
}

.hero img {
  width: 100%;
  height: 100%;
}

.name {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.name h1 {
  margin-bottom: 40px;
  font-size: 4rem;
}

.name h2 {
  margin-bottom: 40px;
}

.name a {
  display: inline-block;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: #FABE1A;
}

.name a:hover, .name a:focus {
  background-color: #ccc;
}

.typewritter span {
  color: #FABE1A;
  font-weight: 800;
}

.about {
  width: 100%;
}

.about img {
  width: 100%;
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.rachel {
  width: 35%;
}

.rachel img {
  width: 100%;
}

.intro {
  width: 65%;
  padding-right: 30px;
}

.email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.social {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0 auto 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social li {
  padding: 0 10px;
}

.social li i:hover {
  color: #FABE1A;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#skills {
  margin: 100px auto;
}

.icons {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (200px)[2];
      grid-template-rows: repeat(2, 200px);
  -ms-grid-columns: (220px)[4];
      grid-template-columns: repeat(4, 220px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon i {
  font-size: 70px;
  color: #343a40;
}

.icon:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#work {
  padding: 50px 0;
  margin: 50px;
}

#work h1 {
  margin-bottom: 80px;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.poster img {
  width: 550px;
}

.description {
  padding-right: 50px;
}

.view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 18px;
}

.view li {
  border: 2px solid #343a40;
  margin-right: 20px;
  border-radius: 10px;
  padding: 5px 30px;
  cursor: pointer;
}

.view li:hover {
  background-color: #FABE1A;
}

.view li a {
  color: #343a40;
}

#contact h1 {
  margin-bottom: 60px;
}

footer {
  margin-top: 20px;
  text-align: center;
  background-color: #ccc;
  padding: 10px;
}

nav {
  width: 80%;
  padding: 20px;
  position: absolute;
  top: 0;
  z-index: 2;
}

nav ul {
  list-style: none;
  text-align: left;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #343a40;
  font-weight: 800;
  margin: 0 10px;
}

nav ul li a,
nav ul li a:after {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

nav ul li a:hover {
  color: #343a40;
}

nav.shift ul li a {
  position: relative;
  z-index: 1;
}

nav.shift ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: #FABE1A;
  border-radius: 10px;
  visibility: none;
  opacity: 0;
  z-index: -1;
}

nav.shift ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

.current {
  background-color: #FABE1A;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .intro {
    width: 80%;
    text-align: center;
  }
  .icons {
    -ms-grid-rows: (200px)[3];
        grid-template-rows: repeat(3, 200px);
    -ms-grid-columns: (200px)[3];
        grid-template-columns: repeat(3, 200px);
  }
  .project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .description {
    padding: 20px;
    text-align: center;
  }
  .view {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .email {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .social {
    margin: 0;
    margin-top: 40px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .poster {
    width: 80%;
  }
  .poster img {
    width: 100%;
  }
  .rachel {
    width: 60%;
  }
}

@media (max-width: 670px) {
  .icons {
    -ms-grid-rows: (200px)[4];
        grid-template-rows: repeat(4, 200px);
    -ms-grid-columns: (200px)[2];
        grid-template-columns: repeat(2, 200px);
  }
  .rachel {
    width: 60%;
  }
  header {
    margin-bottom: 100px;
  }
  h1 {
    font-size: 2rem;
  }
  .name h1 {
    font-size: 2.5rem;
  }
  .name h2 {
    font-size: 1rem;
  }
}

@media (max-width: 400px) {
  .title {
    margin: 10px auto;
  }
  h1 {
    font-size: 1.5rem;
  }
  .name h1 {
    font-size: 2rem;
  }
}
