html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: #1d1b22;
  font-family: 'Roboto Mono', monospace;
  color: #fff;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 4em;
}

.wrapper {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #f9ed8a;
}

main {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.morph-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: -1;
}

.morph {
  width: 1200px;
  height: 1200px;
  -webkit-transform: scaleX(2) scaleY(2) rotate(0);
          transform: scaleX(2) scaleY(2) rotate(0);
  opacity: 0.4;
  -webkit-animation: yoyo 2s infinite alternate;
          animation: yoyo 2s infinite alternate;
}

@-webkit-keyframes yoyo {
  from {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  to {
    -webkit-transform: translate(20px);
            transform: translate(20px);
  }
}

@keyframes yoyo {
  from {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  to {
    -webkit-transform: translate(20px);
            transform: translate(20px);
  }
}

.open {
  position: fixed;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: open;
  -ms-flex-item-align: start;
      align-self: start;
      justify-self: end;
  right: 30px;
  cursor: pointer;
  z-index: 200;
}

.open div {
  position: relative;
  z-index: 999;
  height: 5px;
  width: 30px;
  margin: 5px;
  background-color: #fff;
}

.open.rotate div:nth-child(1) {
  top: 42px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.open.rotate div:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.open.rotate div:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.socials {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: socials;
  -ms-flex-item-align: start;
      align-self: start;
      justify-self: start;
  position: relative;
  z-index: 100;
}

.socials i {
  color: #f44647;
  font-size: 1em;
  padding: 10px;
}

.back {
  z-index: 10;
  width: 30px;
  height: 30px;
  display: none;
  position: fixed;
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: back;
  -ms-flex-item-align: end;
      align-self: end;
      justify-self: end;
  padding-left: 30px;
  padding-right: 100px;
  cursor: pointer;
  padding-bottom: 150px;
}

.back:hover {
  color: #f44647;
}

.content-wrapper {
  z-index: 100;
  padding: 1.5em;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  min-height: 600px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: auto auto 4em;
      grid-template-rows: auto auto 4em;
      grid-template-areas: 'socials open' 'layout layout' 'mail back';
}

.mail {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: mail;
  -webkit-transform: translateY(-70px);
          transform: translateY(-70px);
}

.mail a:hover {
  color: #fff;
}

.layout {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: layout;
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hello {
  text-align: center;
  width: 53%;
}

[data-animate] > span {
  display: inline-block;
  height: 1.2em;
  overflow: hidden;
}

[data-animate] > span > span {
  display: none;
  -webkit-animation: 3s cubic-bezier(0, 1.2, 0.1, 0.9);
          animation: 3s cubic-bezier(0, 1.2, 0.1, 0.9);
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

[data-animate].show > span > span {
  display: inline-block;
}

[data-animate='slideup'] > span > span {
  -webkit-animation-name: slideUp;
          animation-name: slideUp;
}

@-webkit-keyframes slideUp {
  from {
    opacity: 0;
    -webkit-transform: translate(0, 1.2em);
            transform: translate(0, 1.2em);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    -webkit-transform: translate(0, 1.2em);
            transform: translate(0, 1.2em);
  }
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 150;
  top: 0;
  left: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: hidden;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #f44647;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

#aboutMe, #skills {
  position: relative;
  min-height: 100vh;
}

.more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.moreTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro {
  width: 50%;
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro p {
  margin-bottom: 50px;
  font-size: 1.1em;
}

.down {
  margin-bottom: 40px;
  position: relative;
}

.down::after {
  content: "";
  width: 100%;
  height: 20%;
  background-color: #f44647;
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
}

.icons {
  width: 60%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  margin: 100px 0;
  grid-gap: 30px;
}

.icon {
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon i {
  font-size: 2em;
}

img {
  width: 600px;
}

#work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projects li {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
}

.projects li a:hover {
  border: 2px solid #fff;
}

.projects li {
  margin: 0 auto;
}

.projects p {
  margin-left: 10px;
  padding: 5px;
  text-align: center;
}

.projects a {
  padding: 5px;
}

#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form {
  max-width: 420px;
  margin: 50px auto;
}

.feedback-input {
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 2px solid #f44647;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
  resize: none;
}

[type='submit'] {
  width: 100%;
  background: #f44647;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: #fff;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}

[type='submit']:hover {
  background: #cc4949;
}

footer p {
  text-align: center;
}

@media (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }
  .intro {
    width: 100%;
  }
  .hello {
    width: 70%;
  }
}

@media (max-width: 400px) {
  .hello {
    width: 100%;
  }
}
